@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background: #fff;
    font-family: 'Lobster', cursive;
}

#login{
    display: flex;
    justify-content: center;
    margin-top: 15vh ;
    padding: 5rem;
    font-size: 1.2em;
    
}
#grupob{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
#regi{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
#textD{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.caja{
    background: linear-gradient(to right, #da4453, #89216b);
}
#car {
    cursor: pointer;
  }